@{
    ViewBag.Title = "GeneratePdfPreview";
    Layout = null;
}
@using StockInventorySystem.Models
@model StockInventorySystem.Models.Purchase
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stock GeneratePdf</title>

    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="width: 21cm; height: 30cm; margin-left: 40px; background-color: white">
<h2 align="center">MKS Company</h2>
<p align="center">
    Address: 166/168, College road, Chawkbazar, Chittagong.
    <br/>
    Cell: 01822-514977
</p>
    <hr/>
    <div>
        <table>
            <tr>
                <td>Invoice No:</td>
                <td style="font-weight: bold">: @ViewBag.Id</td>
            </tr>
            <tr>
                <td>Bill Date:</td>
                <td style="font-weight: bold">: @ViewBag.Purchase.BillDate</td>
            </tr>
            <tr>
                <td>Supplier Name:</td>
                <td style="font-weight: bold">: @ViewBag.Purchase.SupplierName</td>
            </tr>
            <tr>
                <td>Receiver Date:</td>
                <td style="font-weight: bold">: @ViewBag.Purchase.ReceiverDate</td>
            </tr>
            <tr>
                <td>Carry Charge:</td>
                <td style="font-weight: bold">: @ViewBag.Purchase.CarringCharge</td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PurchaseItem purchaseItem in ViewBag.Purchase.PurchaseItems)
                {
                    <tr>
                        <td>@purchaseItem.ItemName</td>
                        <td>@purchaseItem.Qty</td>
                        <td>@purchaseItem.Price</td>
                        <td>@purchaseItem.Amount</td>
                    </tr>
                }

            </tbody>

        </table>

       
        <p> Total Amount:<b>@ViewBag.Purchase.TotalAmount</b></p>

        <br />
        <br />
        <h6 style="text-align: right">Date:@DateTime.Now</h6>
        ______________________<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature

    </div>
</body>
</html>